:root {
    --btn-size: 91px;
}

.container {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    display: grid;
    grid-template-columns: repeat(4, var(--btn-size));
    grid-template-rows: repeat(5, var(--btn-size));
    grid-gap: 10px;
    grid-template-areas:
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p"
    "q q r s";
    font-size: 35px;
    width: 100%;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    /* grid-template-columns: repeat(4, 50px); */
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: var(--btn-size);
    height: var(--btn-size);
}