:root {
    --btn-size: 91px;
}

.container {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    display: grid;
    grid-template-columns: repeat(4, var(--btn-size));
    grid-template-rows: repeat(5, var(--btn-size));
    grid-gap: 10px;
    grid-template-areas:
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p"
    "q q r s";
    font-size: 35px;
    width: 100%;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    /* grid-template-columns: repeat(4, 50px); */
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: var(--btn-size);
    height: var(--btn-size);
}

.a {
    grid-area: a;
    background-color: var(--primary-color);
    &:active {
        background-color: white;
        color: var(--primary-color);
    }
}

.b {
    grid-area: b;
    background-color: var(--primary-color);
    &:active {
        background-color: white;
        color: var(--primary-color);
    }
}

.c {
    grid-area: c;
    background-color: var(--primary-color);
    &:active {
        background-color: white;
        color: var(--primary-color);
    }
}

.d {
    grid-area: d;
    background-color: var(--primary-color);
    &:active {
        background-color: white;
        color: var(--primary-color);
    }
}

.e {
    grid-area: e;
    background-color: antiquewhite;
    &:active {
        background-color: white;
    }
}

.f {
    grid-area: f;
    background-color: antiquewhite;
    &:active {
        background-color: white;
    }
}

.g {
    grid-area: g;
    background-color: antiquewhite;
    &:active {
        background-color: white;
    }
}

.h {
    grid-area: h;
    background-color: var(--primary-color);
    &:active {
        background-color: white;
        color: var(--primary-color);
    }
}

.i {
    grid-area: i;
    background-color: antiquewhite;
    &:active {
        background-color: white;
    }
}

.j {
    background-color: antiquewhite;
    border-radius: 100px;
    grid-area: j;
    &:active {
        background-color: white;
    }
}

.k {
    background-color: antiquewhite;
    border-radius: 100px;
    grid-area: k;
    &:active {
        background-color: white;
    }
}

.l {
    background-color: var(--primary-color);
    border-radius: 100px;
    grid-area: l;
    &:active {
        background-color: white;
        color: var(--primary-color);
    }
}

.m {
    background-color: antiquewhite;
    border-radius: 100px;
    grid-area: m;
    &:active {
        background-color: white;
    }
}

.n {
    background-color: antiquewhite;
    border-radius: 100px;
    grid-area: n;
    &:active {
        background-color: white;
    }
}

.o {
    background-color: antiquewhite;
    border-radius: 100px;
    grid-area: o;
    &:active {
        background-color: white;
    }
}

.p {
    background-color: var(--primary-color);
    border-radius: 100px;
    grid-area: p;
    &:active {
        background-color: white;
        color: var(--primary-color);
    }
}

.q {
    background-color: antiquewhite;
    width: calc(100%);
    border-radius: 100px;
    grid-area: q;
    justify-content: flex-start;
    padding-left: 30px;
    &:active {
        background-color: white;
        color: var(--primary-color);
    }
}

.r {
    background-color: antiquewhite;
    border-radius: 100px;
    grid-area: r;
    &:active {
        background-color: white;
        color: var(--primary-color);
    }
}

.s {
    background-color: var(--primary-color);
    border-radius: 100px;
    grid-area: s;
    &:active {
        background-color: white;
        color: var(--primary-color);
    }
}